---
page_title: "lightstep_metric_condition Resource - terraform-provider-lightstep"
subcategory: ""
description: |-

---

# NOTE: This resource will be deprecated in v2+. Use `lightstep_alert` instead.

# lightstep_metric_condition (Resource)

Provides a Lightstep Metric Condition. Use this resource to create and manage Lightstep Metric Conditions that can contain either
metric queries or span queries.

{{ .SchemaMarkdown | trimspace }}
