---
page_title: "lightstep_metric_dashboard Resource - terraform-provider-lightstep"
subcategory: ""
description: |-

---

# NOTE: this resource will be deprecated in v2+. Use `lightstep_dashboard` instead.

# lightstep_metric_dashboard (Resource)

Provides a [Lightstep Metric Dashboard](https://api-docs.lightstep.com/reference/listmetricdashboardid). Use this resource to create and manage Lightstep Metric Dashboards.

Visit [Lightstep's documentation](https://docs.lightstep.com/docs/create-and-manage-dashboards) for conceptual information about dashboards.

## Example Usage

```hcl
resource "lightstep_metric_dashboard" "customer_charges" {
  project_name   = var.project
  dashboard_name = "Customer Charges (Metrics)"
  dashboard_description = "Dashboard for customer charges metrics"

  chart {
    name = "Requests by Project"
    rank = 1
    type = "timeseries"

    query {
      hidden                              = false
      query_name                          = "a"
      display                             = "line"
      timeseries_operator                 = "rate"
      timeseries_operator_input_window_ms = 3600000
      metric                              = "requests"

      include_filters = [
        {
          key   = "service"
          value = "iOS"
        }
      ]

      # filters is used for advanced operands like contains and regexp
      filters = [
        {
          key     = "aws_region"
          operand = "contains"
          value   = "us-east"
        }
      ]

      group_by {
        aggregation_method = "max"
        keys               = ["project_name"]
      }
    }
  }

  chart {
    name = "Public API Latency"
    rank = "2"
    type = "timeseries"

    query {
      query_name          = "a"
      display             = "line"
      hidden              = false

      spans {
        query         = "service IN (\"public_api\")"
        operator      = "latency"
        group_by_keys = []
        latency_percentiles = [50,95,99,99.9,]
      }
    }
  }
}
```

{{ .SchemaMarkdown | trimspace }}
